In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('us_stocks.csv')

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df = df[df['date']]

Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'],
      dtype='object')

In [11]:
df = df[df['date'].dt.year > 1999]

In [13]:
df.set_index(['ticker', 'date'], inplace=True)

In [17]:
df = df.drop(columns=['open', 'high', 'low', 'close', 'volume'])

In [19]:
df = df.rename(columns={'adj_open': 'open', 'adj_close': 'close', 'adj_low': 'low', 'adj_high': 'high', 'adj_volume': 'volume'})

In [20]:
df

                   ex-dividend  split_ratio       open       high        low  \
ticker date
A      2000-01-03          0.0          1.0  53.726454  53.856080  45.969377
       2000-01-04          0.0          1.0  46.481058  46.992738  44.175084
       2000-01-05          0.0          1.0  45.198445  45.239380  41.828176
       2000-01-06          0.0          1.0  42.046493  42.298923  39.658651
       2000-01-07          0.0          1.0  40.293135  44.986951  40.252200
...                        ...          ...        ...        ...        ...
ZUMZ   2018-03-21          0.0          1.0  23.800000  24.600000  23.605800
       2018-03-22          0.0          1.0  23.900000  24.350000  23.300000
       2018-03-23          0.0          1.0  23.550000  24.200000  23.450000
       2018-03-26          0.0          1.0  23.750000  24.800000  23.700000
       2018-03-27          0.0          1.0  24.650000  24.650000  23.350000

                       close     volume
ticker date
A      2000-01-03  49.121329  3343600.0
       2000-01-04  45.369006  3408500.0
       2000-01-05  41.998737  4119200.0
       2000-01-06  40.934441  1812900.0
       2000-01-07  44.345645  2016900.0
...                      ...        ...
ZUMZ   2018-03-21  23.950000   354092.0
       2018-03-22  23.350000   269607.0
       2018-03-23  23.550000   301584.0
       2018-03-26  24.650000   375320.0
       2018-03-27  23.600000   403884.0

[11343920 rows x 7 columns]

In [21]:
df.to_hdf('us_stocks.h5', key='df', mode='w')